@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-50: #eeeef6;
        --text-100: #ddddee;
        --text-200: #bbbbdd;
        --text-300: #9999cc;
        --text-400: #7777bb;
        --text-500: #5555aa;
        --text-600: #444488;
        --text-700: #333366;
        --text-800: #222244;
        --text-900: #111122;
        --text-950: #090911;
        
        --background-50: #ededf7;
        --background-100: #dbdbf0;
        --background-200: #b8b8e0;
        --background-300: #9494d1;
        --background-400: #7070c2;
        --background-500: #4d4db3;
        --background-600: #3d3d8f;
        --background-700: #2e2e6b;
        --background-800: #1f1f47;
        --background-900: #0f0f24;
        --background-950: #080812;
        
        --primary-50: #edeef7;
        --primary-100: #dcddef;
        --primary-200: #b9bbdf;
        --primary-300: #9598d0;
        --primary-400: #7276c0;
        --primary-500: #4f54b0;
        --primary-600: #3f438d;
        --primary-700: #2f326a;
        --primary-800: #202246;
        --primary-900: #101123;
        --primary-950: #080812;
        
        --secondary-50: #f7efed;
        --secondary-100: #efdfdc;
        --secondary-200: #dfbeb9;
        --secondary-300: #d09e95;
        --secondary-400: #c07e72;
        --secondary-500: #b05e4f;
        --secondary-600: #8d4b3f;
        --secondary-700: #6a382f;
        --secondary-800: #462520;
        --secondary-900: #231310;
        --secondary-950: #120908;
        
        --accent-50: #f7f7ed;
        --accent-100: #efeedc;
        --accent-200: #dfddb9;
        --accent-300: #d0cd95;
        --accent-400: #c0bc72;
        --accent-500: #b0ab4f;
        --accent-600: #8d893f;
        --accent-700: #6a672f;
        --accent-800: #464420;
        --accent-900: #232210;
        --accent-950: #121108;
        
    }
    .dark {
        --text-50: #090911;
        --text-100: #111122;
        --text-200: #222244;
        --text-300: #333366;
        --text-400: #444488;
        --text-500: #5555aa;
        --text-600: #7777bb;
        --text-700: #9999cc;
        --text-800: #bbbbdd;
        --text-900: #ddddee;
        --text-950: #eeeef6;
        
        --background-50: #080812;
        --background-100: #0f0f24;
        --background-200: #1f1f47;
        --background-300: #2e2e6b;
        --background-400: #3d3d8f;
        --background-500: #4d4db3;
        --background-600: #7070c2;
        --background-700: #9494d1;
        --background-800: #b8b8e0;
        --background-900: #dbdbf0;
        --background-950: #ededf7;
        
        --primary-50: #080812;
        --primary-100: #101123;
        --primary-200: #202246;
        --primary-300: #2f326a;
        --primary-400: #3f438d;
        --primary-500: #4f54b0;
        --primary-600: #7276c0;
        --primary-700: #9598d0;
        --primary-800: #b9bbdf;
        --primary-900: #dcddef;
        --primary-950: #edeef7;
        
        --secondary-50: #120908;
        --secondary-100: #231310;
        --secondary-200: #462520;
        --secondary-300: #6a382f;
        --secondary-400: #8d4b3f;
        --secondary-500: #b05e4f;
        --secondary-600: #c07e72;
        --secondary-700: #d09e95;
        --secondary-800: #dfbeb9;
        --secondary-900: #efdfdc;
        --secondary-950: #f7efed;
        
        --accent-50: #121108;
        --accent-100: #232210;
        --accent-200: #464420;
        --accent-300: #6a672f;
        --accent-400: #8d893f;
        --accent-500: #b0ab4f;
        --accent-600: #c0bc72;
        --accent-700: #d0cd95;
        --accent-800: #dfddb9;
        --accent-900: #efeedc;
        --accent-950: #f7f7ed;
        
    }
}